{% extends 'base.html' %}
{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% block styles %}
    {{block.super}}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    {% endblock %}
</head>
<body>
    {% block content%}
    
    <div class="container" style="margin-top: 20px;">
        <div class="profile-img ">
            <img src="{% static 'photos/Logo.png' %}" alt="" class="round" height ="250">
            <h2 class="profile-name">Hamisicodes</h2>
            <p class="profile-edit"><a href="{% url 'edit' %}"><button type="button" class="btn btn-outline-primary btn-rounded waves-effect">Edit Profile</button></a></p>
            <div class="profile-details">
                <p class="p-details"><b>0</b> Posts</p>
                <p class="p-details"> <b>0</b> Followers</p>
                <p class="p-details"><b>0</b> Following</p>
            </div>
        </div>
        <hr>

        <div class="all-posts">
            <img src="{% static 'photos/Logo.png' %}" alt="" height="200" width="200">
            <img src="{% static 'photos/Logo.png' %}" alt=""height="200" width="200">
            <img src="{% static 'photos/Logo.png' %}" alt="" height="200" width="200">
            <img src="{% static 'photos/Logo.png' %}" alt="" height="200" width="200">
        </div>
    </div>
  


    


    
        
    {% endblock %}
</body>
</html>